<%- include("partials/header"); %> 
<section class="d-flex align-items-center justify-content-center" style="height: 100vh;">
    <div class="card" style=" padding: 30px; width: 40rem; text-align: center;  height: 20rem; box-shadow: 0 3px 5px black;">
        <h1 style="margin-bottom: 20px; ">Admin-login</h1>
        <form action="/admin" method="post">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" name="username">
                <label for="floatingInput">Email address</label>
              </div>
              <div class="form-floating">
                <input type="text" class="form-control" id="floatingPassword" placeholder="Password" name="password">
                <label for="floatingPassword">Password</label>
              </div>

              <button style="margin-top: 20px; " type="submit" class="btn btn-dark">Login</button>

        </form>
        
    </div>
</section>
<%- include("partials/footer"); %> 



