<%- include("partials/header"); %> 
<section class="d-flex justify-content-start  align-items-center" style="height: 100vh; margin-left: 100px;">
    <div class=" card d-flex " style="height: 200px; width: 80%;">
        <h1>Successfully registered</h1>
        <a style="width: 100px;" class="btn btn-dark" href="/userlogin">Sign In</a>
    </div>
</section>



<%-include("partials/footer"); %> 
