<%- include("partials/header"); %> 
<section class="userpage">
    <div class="user-sub-container">
        <h1>Cable Connection User Page</h1>
        <a class="btn btn-dark" href="/userlogin">Login</a>
        <a class="btn btn-info" href="/register">Register</a>


    </div>
</section>


<%-include("partials/footer"); %> 